*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    background-color: rgba(197, 255, 236,0.3) !important;
}
.second{
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 6% 100%);
    background-color: #2C819E;
}
.email{
    margin-left: 2rem;
}
.header{

    background-color: rgba(13, 204, 242,0.2);
}
.opening_time::after{
    content: "";
    width: 35px;
    height: 100%;
    top: 0;
    left: -17px;
    transform: skew(40deg);
    background-color: #2C819E;
}
.back_gif{
    width: 100vw;
    height: 50vh;
    background-size: cover;
    background: linear-gradient(rgb(7 31 30 / 50%), rgb(10 35 48 / 50%)), url(../img/Laboratory.gif);
    background-position: center;
}
.img{
    
    width: 50%;
}
.main{
    margin-top: 2rem;
    display: flex;
}
.img img{
    width: 70%;
    margin: 0    30%;
}
.img h2{
    width: 50%;
    margin: 15% auto;
}
.para{
    margin: 0 15%;
}
.form{
    padding: 10px;
    width: 50%;
    display: grid;
    place-items: center;
}
.form_main{
    padding: 2rem;
    width: 80%;
    background-color: rgba(131, 122, 163, 0.5);
    border-radius: 5px;
}
.form_main{
    background: linear-gradient(rgba(7, 31, 30, .75), rgba(10, 35, 48, .75)),url('../img/form_bg.jpg');
}
.helth_pac{
    width: 80%;
}
.gender{
    width: 15.5rem !important;
}